


@{
    ViewBag.Title = "Shop Online";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 item text-center"><img src="@Url.Content("~/Content/images/logo_damskie.jpg")" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-12 item text-center"><a href="adidasy_meskie.html"><img src="@Url.Content("~/Content/images/logo_meskie.jpg")" alt=""></div>
    </div>
    </div>






