@using Microsoft.AspNet.Identity











    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {

            @Html.AntiForgeryToken()

            
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
           
            
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj sie</a>
            

        }

    }
    else
    {

        <li>
            @Html.ActionLink("Zarejestruj sie", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
            <li>
                @Html.ActionLink("Zaloguj sie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

            </li>


    }


