

@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}



<div style="margin-top:0px; text-align: center; padding-top:150px;">
    Dziekujemy! Dane Twojego zamowienia zostaly przeslane!
</div>