

@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Potwierdzenie skladanego zamowienia
}

<div style="margin-top: 100px; text-align: center">
    Dziekujemy! Twoje dane zamowienia zostaly przeslane!
</div>