body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}








#RecentMainPage {
    margin-left: 50px;
    float: left;
    width: 700px;
    font-size: 20px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    margin-bottom: 12px;
}



#MvcSiteMap {
    margin-left: 50px;
    margin-bottom:12px;
    float: left;
    width: 45%;
    font-size: 18px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    margin-top: 20px;
}







#SearchForm{
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    padding-top:24px;
}



nav.CategoriesVertical {
    width: 200px;
    font-size: 14px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    border-right: 1px solid #E5E5E5;
    float: left;
    height: 1400px;
    margin-left: 100px;

}



        nav.CategoriesVertical ul li a {
         
            display: block;
            height: 100%;
            background-repeat: no-repeat;
            background-position-x: 5px;
            background-position-y: 50%;
 
        }

    nav.CategoriesVertical a {
        font-size: 16px;
        color: #696969;
        
    }



       



ul.ProductsListSmall {
    list-style-type: none;
}

 



#ProductLeft {
    
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    float: left;
}

#ProductRight {
    padding-top: 100px;
}


#ProductName {
    
    padding-left: 20px;
    padding-bottom:25px;
}


#ProductPriceLeft {
    padding-top:25px;
    padding-right: 125px;
    float: left;
    font-size:20px;
}

#AddToBasketLink {
    padding-top: 20px;
 
}


#ProductPrice {
    padding-bottom: 20px;
}

#ProductSize p {
    padding-bottom: 20px;
    padding-right: 10px;
    float: left;
    
}

#ProductSize {
    padding-bottom: 140px;
    font-size: 16px;
}


#ProductDescription{
    font-size: 24px;
   // margin-left: 135px;
   padding-left:350px;
   
    
}




#SectionProductsList h3 {
    color: #696969;
    font-size: 16px;
}

a {
    color: black;
}



.item {
    padding: 25px;
    transition: all .3s;
    -webkit-transition: all .3s;
}

    .item:hover {
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        box-shadow: 0 0 20px #888;
    }


a.productDetailsLink {
    font-size: 16px;
    color: #696969;
}


footer {
    padding: 25px;
    text-align: center;
    clear:both;
   
}





#Contact, #AboutUs {
    
    padding: 55px 55px 55px 95px;
}


#Basket {
    
    float: left;
    padding: 30px 30px 25px 50px;
  
}



    #basketTable tr td {
         padding-top: 25px;
         padding-bottom: 25px;
       vertical-align: middle;
        border-spacing: 150px 150px;
        border-collapse: collapse;
        width: 165px;
       
        float: left;
        padding: 30px 30px 55px 0px;
    }

        #basketTable tr td img {
            float: left;
            width: 150px;
        }

#TotalPrice {
    font-size: 26px;
    padding-bottom:10px;
    padding-top:10px;
}


#basket-empty-message {
    width: 365px;
}


.ButtonLink {
    padding-right: 40px;
    float: left;
}

#Login {
    padding-top:100px;
    

}


#Register {
    padding-top: 100px;
}


.submitLink {

    font-size: 16px;
    text-align: center;
}



#login-table {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: none;
}

    #login-table tr {
        height: 60px;        
    }

   

    #login-table input {
        width: 250px;
        height: 30px;
        padding: 5px;
    }

        #login-table input[type=checkbox] {
            width: 40px;
            
        }

    #login-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

    #login-table .login-validation-message {
        margin-bottom: 7px;
        color: red !important;
        font-size: 14px;
      
        width: 250px;
    }

    #login-table .text-danger {
        text-decoration: none;
    }

#login-error {
    color: red;
    margin-top: 20px;
    text-align: center;
}


.ButtonLink {
    font-size: 16px;
    text-align: center;
}


#Pay {
    padding-top: 100px;
    padding-left: 500px;
}


#checkout-address-table {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: none;
}

    #checkout-address-table tr {
        height: 25px;
    }

 .pay-validation-message {
    margin-bottom: 7px;
    color: red !important;
    font-size: 14px;
}