@model IEnumerable<OnlineShop.Models.Category>
@using OnlineShop.Infrastructure


<nav class="CategoriesVertical">
     <ul>

                        @foreach (var category in Model)
                        {
                            <li>
                                <a href="@Url.Action("List", "Products", new { nameCategories = category.CategoryName.ToString() })">
                                   
                                    @category.CategoryName
                                </a>
                            </li>
                        }


</ul>

    </nav>
