

        @{
            ViewBag.Title = "List";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <h2>List</h2>









        @Html.Action("CategoriesMenu")
            <div>
                @Html.Partial("_ProductsList");

        </div>
