
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="CategoriesList">

    @Html.Action("CategoriesMenu")



    <div>


        @Html.Partial("_ProductsList")

    </div>

</div>
